Repository wrth1337/MyCargonaut, pull requests merged in 2024-01, with the labels that each got.

#126 Navbar ng component
  .github/workflows/eslint.yml
  backend/index.js
  backend/routes/coins.js
  frontend/mycargonaut/src/app/app.component.html
  frontend/mycargonaut/src/app/app.component.spec.ts
  frontend/mycargonaut/src/app/app.module.ts
  frontend/mycargonaut/src/app/navbar/navbar.component.css
  frontend/mycargonaut/src/app/navbar/navbar.component.html
  frontend/mycargonaut/src/app/navbar/navbar.component.spec.ts
  frontend/mycargonaut/src/app/navbar/navbar.component.ts
Labels: Backend, Frontend

#163 Further readme updates
  README.md
Labels: Documentation

#156 Draft: 132 user story als nutzer möchte ich mir ein Inserat im Detail anschauen können um weitere Informationen dazu zu erhalten
  backend/index.js
  backend/routes/ad.js
  backend/routes/offer.js
  backend/routes/profile.js
  backend/routes/wanted.js
  backend/test/ad.test.js
  backend/test/offer.test.js
  backend/test/wanted.test.js
  frontend/mycargonaut/src/app/app-routing.module.ts
  frontend/mycargonaut/src/app/app.module.ts
  frontend/mycargonaut/src/app/main/ad/ad.component.css
  frontend/mycargonaut/src/app/main/ad/ad.component.html
  frontend/mycargonaut/src/app/main/ad/ad.component.spec.ts
  frontend/mycargonaut/src/app/main/ad/ad.component.ts
  frontend/mycargonaut/src/app/main/edit-profile/edit-profile.component.spec.ts
  frontend/mycargonaut/src/app/main/edit-profile/edit-profile.component.ts
  frontend/mycargonaut/src/app/main/home/home.component.css
  frontend/mycargonaut/src/app/main/home/home.component.html
  frontend/mycargonaut/src/app/main/profile/profile.component.spec.ts
  frontend/mycargonaut/src/app/main/profile/profile.component.ts
Labels: Backend, Frontend, Testing, UI/UX
