Repository wrth1337/MyCargonaut, pull requests merged in 2024-03, with the labels that each got.

#193 184 user story als benutzerin möchte ich kommentare zu einem ad hinzufügen können um fragen oder sonstiges zu klären
  backend/index.js
  backend/routes/chat.js
  backend/test/chat.test.js
  frontend/mycargonaut/src/app/app.module.ts
  frontend/mycargonaut/src/app/chat/chat.component.css
  frontend/mycargonaut/src/app/chat/chat.component.html
  frontend/mycargonaut/src/app/chat/chat.component.spec.ts
  frontend/mycargonaut/src/app/chat/chat.component.ts
  frontend/mycargonaut/src/app/chatmessage.ts
  frontend/mycargonaut/src/app/main/ad/ad.component.html
  frontend/mycargonaut/src/app/main/ad/ad.component.spec.ts
Labels: Backend, Database, Frontend, Testing, UI/UX, User-story

#192 Erstellen von Backend Routen um Coins hinzufügen und reduzieren zu können
  backend/package-lock.json
  backend/package.json
  backend/routes/coins.js
  backend/test/chat.test.js
  backend/test/coin.test.js
Labels: Backend

#213 136 user story als mitfahrer möchte ich nach beendigter fahrt den fahrer bewerten können 1
  backend/index.js
  backend/routes/rating.js
  backend/test/rating.test.js
  frontend/mycargonaut/src/app/app-routing.module.ts
  frontend/mycargonaut/src/app/app.module.ts
  frontend/mycargonaut/src/app/chat/chat.component.html
  frontend/mycargonaut/src/app/chat/chat.component.ts
  frontend/mycargonaut/src/app/main/ad/ad.component.html
  frontend/mycargonaut/src/app/main/ad/ad.component.ts
  frontend/mycargonaut/src/app/main/profile/profile.component.ts
  frontend/mycargonaut/src/app/rating/rating.component.css
  frontend/mycargonaut/src/app/rating/rating.component.html
  frontend/mycargonaut/src/app/rating/rating.component.spec.ts
  frontend/mycargonaut/src/app/rating/rating.component.ts
Labels: Backend, Database, Frontend, Testing, User-story

#223 221 general polish jonathan
  backend/routes/rating.js
  frontend/mycargonaut/src/app/ad-card/ad-card.component.css
  frontend/mycargonaut/src/app/ad-card/ad-card.component.html
  frontend/mycargonaut/src/app/auth/components/login/login.component.html
  frontend/mycargonaut/src/app/auth/components/register/register.component.ts
  frontend/mycargonaut/src/app/chat/chat.component.css
  frontend/mycargonaut/src/app/chat/chat.component.html
  frontend/mycargonaut/src/app/guard/authguard.guard.ts
  frontend/mycargonaut/src/app/main/ad/ad.component.css
  frontend/mycargonaut/src/app/main/ad/ad.component.html
  frontend/mycargonaut/src/app/main/home/home.component.css
  frontend/mycargonaut/src/app/main/home/home.component.html
  frontend/mycargonaut/src/app/main/home/home.component.spec.ts
  frontend/mycargonaut/src/app/main/home/home.component.ts
  frontend/mycargonaut/src/app/navbar/navbar.component.css
  frontend/mycargonaut/src/app/navbar/navbar.component.html
  frontend/mycargonaut/src/app/rating/rating.component.ts
  frontend/mycargonaut/src/app/searchbar/searchbar.component.css
  frontend/mycargonaut/src/app/searchbar/searchbar.component.html
  frontend/mycargonaut/src/app/searchbar/searchbar.component.ts
  frontend/mycargonaut/src/assets/OIG2.jpeg
  frontend/mycargonaut/src/assets/icons/weight-tool-svgrepo-com.svg
  frontend/mycargonaut/src/assets/image.png
Labels: Frontend, UI/UX

#227 General polish wrth1337
  backend/routes/offer.js
  frontend/mycargonaut/src/app/main/ad/ad.component.html
  frontend/mycargonaut/src/app/main/create-offer/create-offer.component.ts
  frontend/mycargonaut/src/app/main/edit-profile/edit-profile.component.spec.ts
  frontend/mycargonaut/src/app/main/edit-profile/edit-profile.component.ts
Labels: Backend

#235 fix #2234-beim-neu-laden-der-seite-erhalten-wir-einen-nginx-404-not-f…
  frontend/mycargonaut/Dockerfile
  frontend/mycargonaut/nginx.conf
  frontend/mycargonaut/src/app/chat/chat.component.html
  frontend/mycargonaut/src/app/chat/chat.component.ts
  frontend/mycargonaut/src/app/main/ad/ad.component.html
  frontend/mycargonaut/src/app/main/ad/ad.component.ts
  frontend/mycargonaut/src/app/rating/rating.component.ts
Labels: bug, Frontend

#236 fix bewerten funktion im frontend
  backend/routes/user.js
  database/init.sql
Labels: Backend, Database
